/*
-----General Styling-----
*/

body {
  font-family: "Francois One", sans-serif;
  color: white;
  background: #222;
}
.jumbotron {
	padding-bottom: 0px;
	margin-bottom: 0px;
}
#side-nav-span {
	cursor: pointer;
	position: fixed;
	z-index: 150;
	margin-top: 20px;
}
.side-nav {
	position: fixed;
	z-index: 100;
	display: none;
	margin-top: 30px;
}
.side-nav ul {
	list-style: none;
	padding-top: 50px;
}
.side-nav ul li {
	display: block;
	text-align: center;
	font-size: 20px;
	color: white;
	margin-bottom: 20px;
}
.side-nav ul li button {
	background-color: #222;
	padding:20px;
	border: none;
	border-radius: 10px;
	width: 250px;
}
.side-nav a {
	text-decoration: none;
	color: white;
	padding: 20px;
	width: 250px;
}
.side-nav a:hover {
	color: #CEB573;
}
.navbar {
	background: #333;
}
.navbar-nav li a{
	padding-left: 15px;
	padding-right: 15px;
	font-size: 20px;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #CEB573;
}
#navbar ul li a {
	color: #CEB573;
}
footer {
	background: #333;
	padding-top: 40px;
	padding-bottom: 30px;
	position: relative;
	clear: both;
	z-index: 50;
}
.text-wrapper {
	text-align: center;
}
footer .text-wrapper p {
	display: inline;
	padding-right: 40px;
	color: #CEB573;
	font-size: 20px;
}
.backTotal {
	opacity: 1;
}
.woodBack {
	background-image: url(../images/woodBackTwo.jpg);
	background-size: contain;
	position: fixed;
	height: 300%;
	width: 100%;
	opacity: .75;
}
.whiteBack {
	background-image: url(../images/whiteBack.jpg);
	background-size: cover;
	position: fixed;
	height: 300%;
	width: 100%;
	opacity: .75;
}
.penInk {
    background-image: url(../images/penInk.png);
    background-size: contain;
    position: fixed;
    height: 610px;
    width: 920px;
    bottom: 0;
    background-repeat: no-repeat;
}
.xactoBack {
    background-image: url(../images/xacto.png);
    background-size: contain;
    position: fixed;
    height: 610px;
    width: 480px;
    bottom: 0;
    left: 86%;
    background-repeat: no-repeat;
}
.expoBack {
	background-image: url(../images/expo.png);
    background-size: contain;
    position: fixed;
    height: 610px;
    width: 220px;
    bottom: 0;
    left: 87%;
    background-repeat: no-repeat;
}
.matBack{
	background-image: url(../images/greenMatBack.jpg);
	background-size: cover;
	position: fixed;
	height: 300%;
	width: 100%;
	background-repeat: no-repeat;
	opacity: .75;
}

/*
-----Index Styling-----
*/

.gifBack {
	padding-top: 50px;
	background: #ffffff; 
	height: 600px;
	position: relative;
	z-index: 50;
}
.hook {
	background-image: url(../images/filler.jpg);
	background-size: cover;
	height: 600px;
	padding-top: 20px;
	position: relative;
	z-index: 50;
}
.hook h1 {
	color: white;
	text-align: center;
	line-height: 2em;
	padding-top: 130px;
}
.fa-angle-double-down {
	color: white;
}
.fa-angle-double-down:active {
	color: white;
}
.imageMap {
	background-image: url(../images/map.jpg);
	background-size: cover;
	height: 600px;
	position: relative;
	z-index: 40;
}
.imageTheatre {
	background-image: url(../images/model.jpg);
	background-size: cover;
	height: 600px;
	position: relative;
	z-index: 30;
}
.imageBook {
	background-image: url(../images/cover.jpg);
	background-size: cover;
	height: 600px;
	position: relative;
	z-index: 30;
}
.descriptor-banner {
    position: fixed;
    top: 100px;
    display: none;
    max-width: 350px;
}
.non-nav-one, .non-nav-two, .non-nav-three {
	background-color: #222;
	border-radius: 10px;
	border: none;
	width: 320px;
	border: 3px solid #222;
}
.non-nav-one p, .non-nav-two p, .non-nav-three p {
	font-size: 16px;
}
.descriptor-banner p, .descriptor-banner h1 {
	padding-top: 5px;
}
.massive-button, .massive-button:hover {
	text-decoration: none;
}
.massive-button p, .massive-button h1 {
	color: white;
}
.descriptor-box-one, .descriptor-box-two {
    position: fixed;
    top: 650px;
    display: none;
    max-width: 350px;
}
.box-holder {
	height: 380px;
}

/*
-----UX Page Styling-----
*/

.uxBackOne .container {
	background-color: #222;
	border-radius: 20px;
}
.uxBackTwo .container {
	background-color: #222;
	border-radius: 20px;
}
.uxBackThree .container {
	background-color: #222;
	border-radius: 20px;
}
.uxBackThree li {
	font-size: 18px;
	border-radius: 20px;
}
.uxBackFour .container {
	background-color: #222;
	border-radius: 20px;
}
.uxBackFive .container {
	background-color: #222;
	border-radius: 20px;
}
.uxBackOne p, .uxBackOne li, .uxBackThree p, .uxBackThree li, .uxBackFour p, .uxBackFour li, .uxBackFive p, .uxBackFive li {
	color: white;
}
.uxBackTwo p, .uxBackTwo li {
	color: white;
}
.uxBackOne h1, .uxBackOne h2, .uxBackOne h3, .uxBackThree h1, .uxBackThree h2, .uxBackThree h3 {
}
.uxbackTwo h1, .uxBackTwo h2, .uxBackTwo h3 {
}
.uxBackOne {
	padding-top: 70px;
	padding-bottom: 70px;
}
.uxBackTwo {
	padding-top: 70px;
	padding-bottom: 70px;
}
.uxBackThree {
	padding-top: 70px;
	padding-bottom: 70px;
}
.uxBackFour {
	padding-top: 70px;
	padding-bottom: 70px;
}
.uxBackFour h2 {
	font-size: 40px;
}
.uxBackFive {
	padding-top: 70px;
	padding-bottom: 70px;
}
.uxBackFive h2 {
	padding-bottom: 10px;
}
.origin, .originZoom, .sketchOne, .sketchTwo, .sketchThree, .sketchFour, .sketchFive, .sketchSix, .meFiOne, .meFiTwo, .meFiThree, .meFiFour {
	height: 400px;
	background-repeat: no-repeat;
}
.origin {
	background-image: url(../images/origin.jpg);
	background-size: contain;
}
.originZoom {
	background-image: url(../images/originZoom.jpg);
	background-size: contain;
}
.sketchOne {
	background-image: url(../images/sketchLanding.jpg);
	background-size: contain;
}
.sketchTwo {
	background-image: url(../images/sketchProfile.jpg);
	background-size: contain;
}
.sketchThree {
	background-image: url(../images/sketchChat.jpg);
	background-size: contain;
}
.sketchFour {
	background-image: url(../images/sketchTrade.jpg);
	background-size: contain;
}
.sketchFive {
	background-image: url(../images/sketchUIOne.jpg);
	background-size: contain;
}
.sketchSix {
	background-image: url(../images/sketchUITwo.jpg);
	background-size: contain;
}
.meFiOne {
	background-image: url(../images/meFiLanding.jpg);
	background-size: contain;
}
.meFiTwo {
	background-image: url(../images/meFiChat.jpg);
	background-size: contain;
}
.meFiThree {
	background-image: url(../images/meFiTrade.jpg);
	background-size: contain;
}
.meFiFour {
	background-image: url(../images/meFiPins.jpg);
	background-size: contain;
}
.hiFi {
	background-image: url(../images/hiFiMap.jpg);
	background-size: cover;
	height: 1000px;
	margin-bottom: 20px;
}
.proto {
	background: #CEB573;
    border: none;
    text-align: center;
    border-radius: 6px;
}
.proto:hover {
	border: 3px solid white;
}
.proto a {
	color: #222;
	text-decoration: none;
}

/*
-----Theatrical Page Styling-----
*/

.theatreBackOne .container {
	background-color: #222;
	border-radius: 20px;	
}
.theatreBackTwo .container {
	background-color: #222;
	border-radius: 20px;
}
.theatreBackThree .container {
	background-color: #222;
	border-radius: 20px;
}
.theatreBackFour .container {
	background-color: #222;
	border-radius: 20px;
}
.theatreBackFive .container {
	background-color: #222;
	border-radius: 20px;
}
.theatreBackOne {
	padding-top: 70px;
	padding-bottom: 70px;
}
.theatreBackTwo {
	padding-top: 70px;
	padding-bottom: 70px;
}
.theatreBackThree {
	padding-top: 70px;
	padding-bottom: 70px;
}
.theatreBackFour {
	padding-top: 70px;
	padding-bottom: 70px;
}
.theatreBackFive {
	padding-top: 70px;
	padding-bottom: 70px;
}
.blockingOne, .blockingTwo, .blockingThree, .blockingFour, .perspectiveOne, .perspectiveTwo, .perspectiveThree, .perspectiveFour, .draftingOne, .draftingTwo, .draftingThree, .draftingFour, .modelingOne, .modelingTwo, .modelingThree, .modelingFour {
	height: 400px;
	background-repeat: no-repeat;
}
.blockingOne {
	background-image: url(../images/blockingOne.jpg);
	background-size: contain;
	margin-bottom: 20px;
}
.blockingTwo {
	background-image: url(../images/blockingTwo.jpg);
	background-size: contain;
	margin-bottom: 20px;
}
.blockingThree {
	background-image: url(../images/blocking.jpg);
	background-size: contain;
}
.blockingFour {
	background-image: url(../images/blocking.jpg);
	background-size: contain;
}
.perspectiveOne {
	background-image: url(../images/pewTwo.jpg);
	background-size: contain;
}
.perspectiveTwo {
	background-image: url(../images/walls.jpg);
	background-size: contain;
}
.perspectiveThree {
	background-image: url(../images/perspective.jpg);
	background-size: contain;
}
.perspectiveFour {
	background-image: url(../images/pentacostLighting.jpg);
	background-size: contain;
	margin-bottom: 20px;
}
.draftingOne {
	background-image: url(../images/beautyQueenDetail.jpg);
	background-size: contain;
}
.draftingTwo {
	background-image: url(../images/beauty-queen-lrg.jpg);
	background-size: contain;
}
.draftingThree {
	background-image: url(../images/liliomGP.jpg);
	background-size: contain;
}
.draftingFour {
	background-image: url(../images/drafting.jpg);
	background-size: contain;
}
.modelingOne {
	background-image: url(../images/model2.jpg);
	background-size: contain;
}
.modelingTwo {
	background-image: url(../images/beautyQueenTopDown.jpg);
	background-size: contain;
}
.modelingThree {
	background-image: url(../images/beautyQueenLineUp.jpg);
	background-size: contain;
}
.modelingFour {
	background-image: url(../images/beauty-queen-model-lrg.jpg);
	background-size: contain;
}


.scenicBackTwo {
	background-image: url(../images/shop.jpg);
	background-size: cover;
	height: 600px;
	background-position-x: 50%;
}
.scenicBackSeven {
	background-image: url(../images/finishedProduction.jpg);
	background-size: cover;
	height: 600px;
	background-position-x: 50%;
}

/*
-----Graphic Design Page Styling-----
*/

.designBackOne .container {
	background-color: #222;
	border-radius: 20px;	
}
.designBackTwo .container {
	background-color: #222;
	border-radius: 20px;
}
.designBackThree .container {
	background-color: #222;
	border-radius: 20px;
}
.designBackFour .container {
	background-color: #222;
	border-radius: 20px;
}
.designBackFive .container {
	background-color: #222;
	border-radius: 20px;
}
.designBackOne {
	padding-top: 70px;
	padding-bottom: 70px;
}
.designBackTwo {
	padding-top: 70px;
	padding-bottom: 70px;
}
.designBackThree {
	padding-top: 70px;
	padding-bottom: 70px;
}
.designBackFour {
	padding-top: 70px;
	padding-bottom: 70px;
}
.designBackFive {
	padding-top: 70px;
	padding-bottom: 70px;
}
.sketchingOne, .sketchingTwo, .sketchingThree, .sketchingFour, .sketchingFive, .sketchingSix, .sketchingSeven, .sketchingEight, .mockOne, .mockTwo, .mockThree, .mockFour, .fineOne, .fineTwo, .fineThree, .fineFour, .hiFiOne, .hiFiTwo, .hiFiThree, .hiFiFour {
	height: 400px;
	background-repeat: no-repeat;
	margin-bottom: 20px;
}
.sketchingOne {
	background-image: url(../images/poppy.jpg);
	background-size: contain;
}
.sketchingTwo {
	background-image: url(../images/sketchingThree.jpg);
	background-size: contain;
}
.sketchingThree {
	background-image: url(../images/Swirl.jpg);
	background-size: contain;
}
.sketchingFour {
	background-image: url(../images/sketchingTwo.jpg);
	background-size: contain;
}
.sketchingFive {
	background-image: url(../images/cogs.jpg);
	background-size: contain;
}
.sketchingSix {
	background-image: url(../images/egg.jpg);
	background-size: contain;
}
.sketchingSeven {
	background-image: url(../images/funnyFace.jpg);
	background-size: contain;
}
.sketchingEight {
	background-image: url(../images/inkFaceSketch.jpg);
	background-size: contain;
}
.mockOne {
	background-image: url(../images/RedLetter.jpg);
	background-size: contain;
}
.mockTwo {
	background-image: url(../images/OldNews.jpg);
	background-size: contain;
}
.mockThree {
	background-image: url(../images/inkFaceMock.jpg);
	background-size: contain;
}
.mockFour {
	background-image: url(../images/CatanMock.jpg);
	background-size: contain;
}
.fineOne {
	background-image: url(../images/KnifePortrait.jpg);
	background-size: contain;
}
.fineTwo {
	background-image: url(../images/finalOne.jpg);
	background-size: contain;
}
.fineThree {
	background-image: url(../images/acrylic-self-portrait-lrg.jpg);
	background-size: contain;
}
.fineFour {
	background-image: url(../images/arm-sculpture-lrg.jpg);
	background-size: contain;
}
.hiFiOne {
	background-image: url(../images/CatanScreen.jpg);
	background-size: contain;
}
.hiFiTwo {
	background-image: url(../images/OldNewsScreen.jpg);
	background-size: contain;
}
.hiFiThree {
	background-image: url(../images/lopezSmolensScreen.jpg);
	background-size: contain;
}
.hiFiFour {
	background-image: url(../images/knotStandardScreen.jpg);
	background-size: contain;
}

/*
-----@Media Styles-----
*/

@media (max-width: 1199px) {
	.scenicBackOneText, .scenicBackTwoText, .scenicBackThreeText, .scenicBackFourText, .scenicBackFiveText, .scenicBackSixText, .scenicBackSevenText {
		height: 320px;
	}
}
@media (max-width: 991px) {
	.navbar-nav li a{
		padding-left: 15px;
		padding-right: 15px;
		font-size: 16px;
	}
	.descriptor-box-one, .descriptor-box-two {
    	position: relative;
    	left: 25%;
    	top: 250;
	}
	.descriptor-banner {
    	position: relative;
    	left: 15%;
    	top: 250px;
	}
	.hook {
		background-image: url(../images/hookBack.jpg);
		background-size: cover;
		height: 600px;
		padding-top: 20px;
		background-position-x: -200px;
	}
	.scenicBackOneText, .scenicBackTwoText, .scenicBackThreeText, .scenicBackFourText, .scenicBackFiveText, .scenicBackSixText, .scenicBackSevenText {
		height: 370px;
	}	
}
@media (max-width: 767px) {
	footer .text-wrapper p {
		display: inherit;
	}
	.hook {
		background-image: url(../images/hookBack.jpg);
		background-size: cover;
		height: 600px;
		padding-top: 20px;
		background-position-x: -350px;
	}
	.descriptor-banner {
    	position: relative;
    	left: 25%;
    	top: 250px;
	}
	.gif {
		height: 400px;
	}	
	.gifBack {
		height: 450px;
	}
	.scenicBackOneText p, .scenicBackTwoText p, .scenicBackThreeText p, .scenicBackFourText p, .scenicBackFiveText p, .scenicBackSixText p, .scenicBackSevenText p {
		font-size: 18px;
	}
}
@media (max-width: 650px) {
	.descriptor-box-one, .descriptor-box-two {
    	position: relative;
    	left: 10%;
    	top: 250px;
	}
	.descriptor-banner {
    	position: relative;
    	left: 10%;
    	top: 250px;
    }
    .gif {
		height: 300px;
	}	
	.gifBack {
		height: 350px;
	}
	.hook h1 {
		color: white;
		text-align: center;
		line-height: 1.5em;
		padding-top: 100px;
	}
}
@media (max-width: 530px) {
	.descriptor-box-one, .descriptor-box-two {
    	position: relative;
    	left: 0%;
    	top: 250;
	}
	.descriptor-banner {
    	position: relative;
    	left: -30%;
    	top: 250px;
    	max-width: 350px;
    }
    .left-text, .UX-Text {
    	display: none;
	}
	.descriptor-banner p {
		font-size: 12px;
	}
	.hook h1 {
		color: white;
		text-align: center;
		line-height: 1em;
		padding-top: 20px;
	}
	.scenicBackOneText, .scenicBackTwoText, .scenicBackThreeText, .scenicBackFourText, .scenicBackFiveText, .scenicBackSixText, .scenicBackSevenText {
		height: 510px;
	}
}