/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-family: "Palanquin", sans-serif;
}
.jumbotron {
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.gifBack {
	background: #800020; 
	height: 600px;
}
.hook {
	background-image: url(../images/hookBack.jpg);
	background-size: cover;
	height: 600px;
	padding-top: 20px;
}
.hook h1 {
	color: white;
	text-align: center;
	line-height: 2em;
	padding-top: 130px;
	font-family: "Palanquin", sans-serif;
}
.hook span {
	font-family: "Cinzel Decorative", cursive;
	text-transform: capitalize;
	color: black;
}
.imageMap {
	background-image: url(../images/map.jpg);
	background-size: cover;
	height: 600px;
}
.imageTheatre {
	background-image: url(../images/model.jpg);
	background-size: cover;
	height: 600px;
}
.imageBook {
	background-image: url(../images/cover.jpg);
	background-size: cover;
	height: 600px;
}
.imageInk {
	background-image: url(../images/ink.jpg);
	background-size: cover;
	height: 600px;
}
.descriptor-banner {
	background-color: white;
    height: 150px;
    width: 450px;
    position: relative;
    left: 330px;
    top: 250px;
    border-radius: 30px;
}
.descriptor-banner p {
	padding-top: 45px;
	padding-left: 45px;
}
.descriptor-box {
	background-color: white;
    height: 150px;
    width: 450px;
    position: relative;
    left: 25%;
    top: 50%;
    border-radius: 30px;
}
.left-text {
	padding-top: 25px;
	padding-left: 45px;
}
.right-button {
	padding-top: 35px;
	padding-left: 45px;
}
.box-holder {
	height: 380px;
}
button {
	padding: 20px;
    border-radius: 10px;
    border: 3px solid #800020;
    color: white;
    background: #800020;
}
button:hover {
	border-color: goldenrod;
}
.navbar-nav li a{
	padding-left: 15px;
	padding-right: 15px;
	font-family: "Cinzel Decorative", cursive;
	font-size: 20px;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: goldenrod;
}
#navbar ul li a {
	color: goldenrod;
}
footer {
	background: #222;
	padding-top: 40px;
	padding-bottom: 30px;
	position: relative;
	clear: both;
}
.text-wrapper {
	text-align: center;
}
footer .text-wrapper p {
	display: inline;
	padding-right: 40px;
	color: goldenrod;
}
.uxBackOne {
	background-image: url(../images/europeSketches.jpg);
	background-size: cover;
	padding-top: 70px;
	padding-bottom: 70px;
}
.uxBackOne p, .uxBackOne li, .uxBackThree p, .uxBackThree li {
	color: white;
	font-family: "Palanquin", sans-serif;
}
.uxBackTwo p, .uxBackTwo li {
	color: white;
	font-family: "Palanquin", sans-serif;
}
.uxBackOne h1, .uxBackOne h2, .uxBackOne h3, .uxBackThree h1, .uxBackThree h2, .uxBackThree h3 {
	color: goldenrod;
	font-family: "Cinzel Decorative", cursive;
}
.uxbackTwo h1, .uxBackTwo h2, .uxBackTwo h3 {
	color: goldenrod;
	font-family: "Cinzel Decorative", cursive;
}
.uxBackTwo {
	background-image: url(../images/map-Early.jpg);
	background-size: cover;
	padding-top: 70px;
	padding-bottom: 70px;
}
.uxBackThree {
	background-image: url(../images/map.jpg);
	background-size: cover;
	padding-top: 70px;
	padding-bottom: 70px;
}
.uxBackThree a:hover {
	text-decoration: none;
	color: #800020;
	background-color: goldenrod;
	opacity: .7;
	border-radius: 10px;
	padding: ;
}
.scenicBackTwo {
	background-image: url(../images/shop.jpg);
	background-size: cover;
	height: 600px;
	background-position-x: 50%;
}
.scenicBackThree {
	background-image: url(../images/blocking.jpg);
	background-size: cover;
	height: 600px;
	background-position-x: 50%;
}
.scenicBackFour {
	background-image: url(../images/perspective.jpg);
	background-size: cover;
	height: 600px;
	background-position-y: 80%;
	background-position-x: 50%;
}
.scenicBackFive {
	background-image: url(../images/drafting.jpg);
	background-size: cover;
	height: 600px;
	background-position-y: 45%;
	background-position-x: 50%;
}
.scenicBackSix {
	background-image: url(../images/model2.jpg);
	background-size: cover;
	height: 600px;
	background-position-y: 40%;
	background-position-x: 50%;
}
.scenicBackSeven {
	background-image: url(../images/finishedProduction.jpg);
	background-size: cover;
	height: 600px;
	background-position-x: 50%;
}
.scenicBackOneText, .scenicBackTwoText, .scenicBackThreeText, .scenicBackFourText, .scenicBackFiveText, .scenicBackSixText, .scenicBackSevenText {
	height: 200px;
	background-color: #800020;
}
.scenicBackOneText li, .scenicBackTwoText p, .scenicBackThreeText p, .scenicBackFourText p, .scenicBackFiveText p, .scenicBackSixText p, .scenicBackSevenText p {
	color: goldenrod;
	font-family: "Palanquin", cursive;
}
.scenicBackOneText h2, .scenicBackTwoText h2, .scenicBackThreeText h2, .scenicBackFourText h2, .scenicBackFiveText h2, .scenicBackSixText h2, .scenicBackSevenText h2 {
	color: goldenrod;
	font-family: "Cinzel Decorative", sans-serif;
}
.designBack {
	height: 600px;
}
.designBackInk {
	background-image: url(../images/sketchingThree.jpg);
	background-size: cover;
	height: 600;
	background-position-x: 50%;
}
.designBackEmblem {
	background-image: url(../images/Emblem.jpg);
	background-size: cover;
	background-position-x: 50%;
	height: 600px;
}
.designBackSwirl {
	background-image: url(../images/Swirl.jpg);
	background-size: cover;
	background-position-x: 50%;
	height: 600px;
}
.designBackRedLetter {
	background-image: url(../images/RedLetter.jpg);
	background-size: cover;
	background-position-x: 50%;
	height: 600px;
}
.designBackOldNews {
	background-image: url(../images/OldNews.jpg);
	background-size: cover;
	background-position-x: 50%;
	height: 600px;
}
.designBackCoverMock {
	background-image: url(../images/CoverMock.jpg);
	background-size: cover;
	background-position-x: 50%;
	background-position-y: 15%;
	height: 600px;
}
.designBackCatanMock {
	background-image: url(../images/CatanMock.jpg);
	background-size: cover;
	background-position-x: 50%;
	height: 600px;
}
.designBackCatanScreen {
	background-image: url(../images/CatanScreen.jpg);
	background-size: cover;
	background-position-x: 50%;
	height: 600px;
}
.designBackKnifePortrait {
	background-image: url(../images/KnifePortrait.jpg);
	background-size: cover;
	background-position-x: 50%;
	height: 600px;
}
.designBackOneText, .designBackTwoText, .designBackThreeText {
	height: 300px;
	background-color: #800020;
}
.designBackOneText p, .designBackTwoText p, .designBackThreeText p {
	color: goldenrod;
	font-family: "Palanquin", cursive;
}
.designBackOneText h2, .designBackTwoText h2, .designBackThreeText h2 {
	color: goldenrod;
	font-family: "Cinzel Decorative", sans-serif;
}


@media (max-width: 1500px) {
	.descriptor-box {
		background-color: white;
    	height: 150px;
    	width: 450px;
    	position: relative;
    	left: 15%;
    	top: 50%;
    	border-radius: 30px;
	}
}
@media (max-width: 1199px) {
	.scenicBackOneText, .scenicBackTwoText, .scenicBackThreeText, .scenicBackFourText, .scenicBackFiveText, .scenicBackSixText, .scenicBackSevenText {
		height: 250px;
	}
}
@media (max-width: 1150px) {
	.descriptor-box {
		background-color: white;
    	height: 150px;
    	width: 450px;
    	position: relative;
    	left: 5%;
    	top: 50%;
    	border-radius: 30px;
	}	
}
@media (max-width: 991px) {
	.navbar-nav li a{
		padding-left: 15px;
		padding-right: 15px;
		font-family: "Cinzel Decorative", cursive;
		font-size: 16px;
	}
	.descriptor-box {
		background-color: white;
    	height: 150px;
    	width: 450px;
    	position: relative;
    	left: 25%;
    	top: 50%;
    	border-radius: 30px;
	}
	.descriptor-banner {
		background-color: white;
    	height: 150px;
    	width: 450px;
    	position: relative;
    	left: 15%;
    	top: 250px;
    	border-radius: 30px;
	}
	.hook {
		background-image: url(../images/hookBack.jpg);
		background-size: cover;
		height: 600px;
		padding-top: 20px;
		background-position-x: -200px;
	}
	.scenicBackOneText, .scenicBackTwoText, .scenicBackThreeText, .scenicBackFourText, .scenicBackFiveText, .scenicBackSixText, .scenicBackSevenText {
		height: 300px;
	}	
}
@media (max-width: 767px) {
	.hook {
		background-image: url(../images/hookBack.jpg);
		background-size: cover;
		height: 600px;
		padding-top: 20px;
		background-position-x: -350px;
	}
	.descriptor-banner {
		background-color: white;
    	height: 150px;
    	width: 450px;
    	position: relative;
    	left: 25%;
    	top: 250px;
    	border-radius: 30px;
	}
	.gif {
		height: 400px;
	}	
	.gifBack {
		height: 450px;
	}
	.scenicBackOneText p, .scenicBackTwoText p, .scenicBackThreeText p, .scenicBackFourText p, .scenicBackFiveText p, .scenicBackSixText p, .scenicBackSevenText p {
		font-size: 18px;
	}
}
@media (max-width: 650px) {
	.descriptor-box {
		background-color: white;
    	height: 150px;
    	width: 450px;
    	position: relative;
    	left: 10%;
    	top: 50%;
    	border-radius: 30px;
	}
	.descriptor-banner {
		background-color: white;
    	height: 150px;
    	width: 450px;
    	position: relative;
    	left: 10%;
    	top: 250px;
    }
    .gif {
		height: 300px;
	}	
	.gifBack {
		height: 350px;
	}
	.hook h1 {
		color: white;
		text-align: center;
		line-height: 1.5em;
		padding-top: 100px;
		font-family: "Palanquin", sans-serif;
	}
	footer .text-wrapper p {
		display: inherit;
	}
}
@media (max-width: 530px) {
	.descriptor-box {
		background-color: transparent;
    	height: 100px;
    	width: 200px;
    	position: relative;
    	left: 0%;
    	top: 50%;
    	border-radius: 30px;
	}
	.descriptor-banner {
		background-color: transparent;
    	height: 100px;
    	width: 200px;
    	position: relative;
    	left: -30%;
    	top: 250px;
    }
    .left-text {
    	display: none;
	}
	.descriptor-banner p {
		font-size: 12px;
		padding-top: 20px;
	}
	button {
		padding: 50px;
    	border-radius: 10px;
    	border: 3px solid #800020;
    	color: white;
    	background: #800020;
	}
	.hook h1 {
		color: white;
		text-align: center;
		line-height: 1em;
		padding-top: 20px;
		font-family: "Palanquin", sans-serif;
	}
	.scenicBackOneText, .scenicBackTwoText, .scenicBackThreeText, .scenicBackFourText, .scenicBackFiveText, .scenicBackSixText, .scenicBackSevenText {
		height: 460px;
	}
}